# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Build files
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.venv/
venv/
python_server/venv/
python_server/data/
